.cartitem {
    display: grid;
    grid-template-columns: 0.5fr 1.5fr ;
    height: auto;
    background-color: #CDE3EB;
    padding: 15px;
    border-radius: 10px ;
    margin-bottom: 10px;
}

.heading h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px 0 25px 0;
    width: 800px;
    font-size: 40px;
    color: #143A52;
    font-family: 'Fira Sans', sans-serif;
    background-color: #CDE3EB;
    padding: 15px 0 15px 0;
    border-radius: 10px;
    font-style: italic;
}

.heading .headings {
    background-color: #FFC436;
    width: 1250px;
}

.cart {
    display: flex;
    width: 800px;
    flex-direction: column;
    margin-left: 8%;
}

.cartitem img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
}

.cartproducts p {
    font-size: 17px;
    font-weight: 500;
}

.cartbtn {
    border-radius: 5px;
    font-size: 14px;
    background-color: #143A52;
    color: #fff;
    text-align: center;
    border: none;
    padding: 4px 8px 4px 8px;
    margin-top: 18px;
}

.cartproducts input {
    width: 30px;
    margin: 0 8px 0 8px;
}

.subtotal p {
    display: flex;
    justify-content: space-between ;
    align-items: center;
    margin-top: 18px;
    border-radius: 10px;
    background-color: #CDE3EB;
    padding: 18px;
    font-size: 20px;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 500;
}


.subtotal button {
    font-size: 20px;
    font-weight: 500;
    font-family: 'Fira Sans', sans-serif;
    border-radius: 8px;
    background-color: #143A52;
    color: #fff;
    padding: 15px;
    margin-right: 30px;
    border: 2px solid #fff;
    margin-bottom: 30px;
}

.subtotal button:hover {
    background-color: #FFC436;
    color: #143A52;
    border: 2px solid #143A52;
}

h2 {
    background-color: #FFC436;
    color: #143A52;
    border: 2px solid #143A52;
    font-size: 30px;
    font-family: 'Fira Sans', sans-serif;
    /* letter-spacing: 5px; */
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

@media (max-width: 400px) {
    .heading h1 {
        width: 100%;
        font-size: 20px;
    }

    .cart {
        width: auto;
        margin: 0 15px 0 15px;
    }

    .cartitem img {
        width: 80px;
        margin-right: 25px;
    }

    .cartproducts p {
        font-size: 15px;
    }

    .cartbtn {
        font-size: 10px;
    }

    .subtotal button {
        font-size: 10px;
    }

    .heading .headings {
        width: 100%;
        font-size: 20px;
    }
}