.products {
    display: grid;
    width: 100%;
    height: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
    place-items: center;
}

.product {
    width: 250px;
    height: 380px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-sizing: border-box;
    margin-top: 50px;
}

.product img {
    width: 200px;
    height: 200px;
    object-fit: contain;
    transition: 0.2s;
    border-radius: 5px;
}

.product .description {
    text-align: left;
    margin-left: 10px;
}

.product:hover {
    background-color: #CDE3EB;
}

img:hover {
    transform: scale(1.1);
}

span {
    text-decoration: line-through;
    opacity: 60%;
    margin-left: 10px;
}

.para {
    margin-left: 10px;
    text-align: left;
}

.btn {
    background-color:  #143A52;
    color: #fff;
    border-radius: 30px;
    padding: 6px 15px;
    align-items: center;
    transform: 0.2s;
    border: 2px solid #fff;
}

.btn:hover {
    background-color: #FFC436;
    color: #143A52;
    font-weight: bold;
    border: 2px solid #143A52;
}

@media (max-width: 400px) {
    .products {
        display: grid;
        grid-template-columns: 1fr;
    }

    .product {
        width: 100%;
        height: 200px;
        display: grid;
        grid-template-columns: 1fr 2fr;
        border-radius: 5px;
        box-sizing: border-box;
        margin-top: 20px;
    }

    .product img {
        width: 100px;
        height: 100px;
        object-fit: contain;
        transition: 0.2s;
        border-radius: 5px;
        margin: 30px 0 0 20px;
    }

    .btn {
        margin: 0 120px 0 30px;
        font-size: 10px;
    }
}