
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,400;0,500;1,400;1,500&display=swap');


body {
    box-sizing: border-box;
    background-color: #E3EFF3;
    font-family: 'Fira Sans', sans-serif;
    padding: 0;
    margin: 0;
}

* {
    box-sizing: border-box;
}